<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet_1"  args="manager" output="screen"/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/ros.yaml"/>
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/yolo-roomba.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="nodelet" type="nodelet" name="darknet_ros_nodelet" args="load darknet_ros/YoloObjectDetector standalone_nodelet_1" output="screen">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
  </node>

</launch>
